.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.35;
} 
.sidebarheader{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebarheaderRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebarheaderRight > .MuiSvgIcon-root{
    margin: 2vw;
    font-size: 24px !important;
}

.sidebarsearch{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebarsearchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
  }

  .sidebarsearchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
  }

  .sidebarsearchContainer > input {
    border: none;
    outline-width: 0; /* blaue balken weg, wenn man auf Suche drückt */
    margin-left: 10px;
    width: 100%;
  }

  .sidebarchats { /* Hover-Effekt aus Container besser */
    flex: 1;
    overflow: scroll;
    background-color: white;
  }